@media screen and (max-width:576px) {

/* navbar section  */
.logo-section h2{
        font-size: 1.8rem;
}

    .navbar-container i{
    display: block;
}
.navbar-container ul{
    display: none;
}

/* banner section  */

.banner-container{
    margin-top: 0px;
}

.banner-title > h1{
    font-size: 2rem;
    margin-top: 32px;
    margin-bottom: 8px;
}
.banner-title > p{
    font-size: 0.9rem;
    line-height: 21px;
    color: #ffffffce;
    width: 340px;
    margin-bottom: -5px;
    width: 304px;
}
.banner-container form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.banner-container input ,select{
    border-radius: 8px;
    padding: 20px 12px;
}


/* Our Popular Tours section */

.tour-container{
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 0;
}
.tour-content {
    width: 380px;
    gap: 16px;
}
.tour-content h1{
    font-size: 1.5rem;
    
}
.tour-content ul{
    width: 335px;
    margin-bottom: 0;
}
.tour-img img{
    width: 100%;
    height: 100%;
}


/* Choose Your Destination section */

.destination-title{
    width: 309px;
    margin-top: 24px;
    gap: 0;
}

.destination-title h1{
    font-size: 1.5rem;
    margin-bottom: 16px;
}
.destination-title p{
    font-size: 0.9rem;
    line-height: 24px;
}

.destination-place{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.destination-place img{
    width: 100%;
    height: 175px;
}
.destination-place strong{
    font-size: 1.25rem;
}



}