/* font import */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


.font-mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}

/* mrg-padd */
*{
    margin: 0;
    padding: 0;
}

/* common style  */

.common-width{
    width: 90%;
    max-width: 1178px;
    margin: 0 auto;
}




/* navbar style section */

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
.navbar-container img{
    max-width: 56px;
    max-height: 48px;
}
.logo-section{
    display: flex;
    align-items: center;
    gap: 16px;
}
.logo-section h2{
    color: #131318;
    font-weight: 800;
    font-size: 2.25rem;
}
.navbar-container span{
    color: #FF5400;
}
.navbar-container ul{
    list-style: none;
    display: flex;
    width: 506px;
    justify-content: space-around;
    font-weight: 400;
    font-size: 1.15rem;
    color: #424247;
}
.navbar-container i{
    display: none;
}


/* banner/hero section style */


