/* font import */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


.font-mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}

/* mrg-padd */
*{
    margin: 0;
    padding: 0;
}

/* common style  */

.common-width{
    width: 90%;
    max-width: 1178px;
    margin: 0 auto;
}

.btn{
    padding: 14px 35px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    background-color: #FF5400;
    font-weight: 700;
    font-size: 1rem;
}


/* navbar style section */

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
.navbar-container img{
    max-width: 56px;
    max-height: 48px;
}
.logo-section{
    display: flex;
    align-items: center;
    gap: 16px;
}
.logo-section h2{
    color: #131318;
    font-weight: 800;
    font-size: 2.25rem;
}
.navbar-container span{
    color: #FF5400;
}
.navbar-container ul{
    list-style: none;
    display: flex;
    width: 506px;
    justify-content: space-around;
    font-weight: 400;
    font-size: 1.15rem;
    color: #424247;
}
.navbar-container i{
    display: none;
}


/* banner/hero section style */

.banner-container{
    margin-top: 25px;
}

.banner-content{
    background-image: linear-gradient(rgba(0, 0, 0, 0.715), rgba(48, 44, 44, 0.14)) ,url("../images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
    border-radius: 16px;


    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-title > h1{
    font-weight: 800;
    font-size: 4rem;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.banner-title > p{
    max-width: 667px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    color: #FFFFFF;
}


.banner-container form{
    display: flex;
    justify-content: space-around;
    background-color: #fdfdfd3f;
    padding: 16px;
    border-radius: 8px; 
    max-width: 800px;
    width: 59%;
}
.banner-container input ,select{
    border-radius: 8px;
    padding: 0 12px;
    border: none;
    font-weight: 400;
    font-size: 1rem;
}

.banner-container select{
    color: #13131883;
    
}


/* Our Popular Tours section */

.tour-container{
    display: flex;
    margin: 100px 0;
    gap: 53px;
}


.tour-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 577px;
}

.tour-content h1{
    font-weight: 800;
    font-size: 2.5rem;
    color: #131318;
}
.tour-content p{
    font-weight: 400;
    font-size: 1rem;
    color: #131318bd;
    line-height: 26px;
}
.tour-content ul{
    width: 500px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    color: #131318bd;
    margin-bottom: 26px;
}



/* Choose Your Destination section */

.destination-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 643px;
    margin: 0 auto;
}
.destination-title h1{
    font-weight: 800;
    font-size: 2.5rem;
    color: #131318;
}
.destination-title p{
    font-weight: 400;
    font-size: 1rem;
    color: #131318a9;
    line-height: 26px;
}


.destination-place{
    display: grid;
    grid-template-columns: repeat(12 ,1fr);
    gap: 24px;
    margin-top: 35px;
    margin-bottom: 100px;
}
.destination-place img{
    width: 100%;
    height: 100%;
}
.destination-place div{
    position: relative;
}
.destination-place strong{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    font-weight: 800;
    font-size: 1.75rem;
    color: #FFFFFF;
}

.destination-1 ,.destination-2{
    grid-column: span 6;
}
.destination-3{
    grid-column: span 4;
}
.destination-4 , .destination-6{
    grid-column: span 5;
}
.destination-5{
    grid-column:  span 3;
}
.destination-7{
    grid-column: span 7;
}